/*---------ESTILOS HEADER-----------*/

/*------ESTILOS NAVBAR--------*/
.logo-codoAcodo {
  height: 80px;
}

#navbarSupportedContent {
  justify-content: space-between;
}

.navbar-collapse {
  flex-grow: 0;
}

#navcta {
  color: green;
}

.ancho90 {
  width: 90%;
}

.ancho80 {
  width: 80%;
  margin: auto;
}

.ancho50 {
  width: 50%;
  margin: auto;
}

@media(max-width:600px) {
  .ancho50 {
    width: 80%;
  }
}

/*------ESTILOS HERO--------*/

.hero.container {
  max-width: 100%;
  padding: 0;
  background-image: url("../img/ba1.jpg");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
}

.hero.container .row.fila-texto {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  color: white;
  align-items: center;
  padding: 0 10%;
  margin: 0;
}

.parrafo-hero,
.titular {
  text-align: right;
  font-weight: 600;
}

.parrafo-hero {
  font-size: 18px;
  margin-bottom: 30px;
}

.hero.container .row.fila-botones button {
  width: 100%;
  padding: 14px;
  font-size: 16px;
}

/*------ESTILOS MAIN--------*/

.titulo-main {
  text-align: center;
  font-size: 18px;
}

.titulo-main span {
  font-size: 32px;
}

.principal .container {
  margin: auto;
  margin-bottom: 100px;
}

/*------ESTILOS SECTION LUGAR--------*/

.lugar {
  margin: auto;
  margin-bottom: 50px;
}

.lugar .card-title {
  font-size: 28px;
}

.lugar .card {
  border-radius: 0;  
}

/*------ESTILOS FORMULARIO--------*/

.charla {
  text-align: center;
  margin-bottom: 50px;
}

.formulario {
  margin: auto;
  margin-bottom: 100px;
}

.formulario .boton {
  text-align: center;
}

.formulario button {
  width: 100%;
}

.ser-orador .container {
  max-width: 720px;
}


/*------ESTILOS FOOTER--------*/

footer .nav {
  justify-content: center;
  align-items: center;
  height: 100%;
}

footer {
  height: 100px;
  background-color: rgb(33, 80, 122);
} 

footer ul a.nav-link {
  color: white;
}


/*------EN PÁGINA DE TICKETS---------*/

/*TARJETAS DE TRAINEE JUNIOR Y ESTUDIANTE*/

.descuento {
  font-size: 2rem;
}

/*-------BOTONES-----*/

.botones .btn {
  width: 100%;
  background-color: #96c93e;
  border: none;
}
